.DS_Store
*.orig.jpg
NVV_One-Pager_ChiriVR.pdf
.claude/
assets/ScreencastExpoLima.mp4
assets/CHIRIBIQUETTE_Vector-Logo.pdf.png
assets/logo-rot90.png
assets/logo-rot-90.png
assets/expo-lima-preview.m4v
assets/expo-lima-preview.m4v.png
assets/CHHD_VR-test - NV VISUALES.mp4
assets/CHHD_VR-test - NV VISUALES.mp4.png
